.col-sm-2
  %div{id: "wallhanger", "data-spy"=>"affix", "data-offset-top"=>"0", style: "widht: 100%;"}
    %ul.nav.nav-tabs.nav-stacked
      %li= link_to "About", "/about#who"
      %li= link_to "Team", "/about#team"
      %li= link_to "Awards", "/about#awards"
      %li= link_to "Media", "/about#media"
      %li= link_to "Why this name?", "/about#name"