= title("about - pykih")
.row
  .col-sm-12
    .page-header 
      %h1.m0p0 About Us
    %br
.row
  .col-sm-2
    %div{id: "wallhanger", "data-spy"=>"affix", "data-offset-top"=>"0", style: "widht: 100%;"}
      %small
        %ul.nav.nav-tabs.nav-stacked
          %li= link_to "Who are we?", "/about#who"
          %li= link_to "Team", "/about#team"
          %li= link_to "Recognition", "/about#recognition"
          %li= link_to "Why this name?", "/about#name"
          %li= link_to "Proudly made", "/about#w"
  .col-sm-10{id: "who"}
    %p.lead We are a company with a product and innovation mindset and believe in solving real-world "business" problems with creativity. Our teams have innovated technology and solutions for many domains e.g. data analytics, charity, media, etc. We build simple, minimalistic and function-focused cloud-based software in a cost-effective manner. As professional consultants, we will give you objective analysis of your options and guide you to take the right decision.
    %br
    .ruler{id: "team"}
    %div{style: "height: 730px;"}
      %div{:style => "position: relative; float: left; width: 60%; "}
        %h3 Team
        %br
        %ul.m0p0.list-unstyled
          %li.col-sm-4.m0p0
            %a{href: "", data: "<div class='well'><h4 style='font-weight: 200; margin-bottom: 0px;'> Ritvvij Parrikh </h4>FOUNDER and MANAGING PARTNER<br/><a href='mailto:ritvvij.parrikh@pykih.com' target='_blank'>#{image_tag('contacts/mail.png')}</a> <a href='http://linkedin.com/in/ritvvijparrikh' target='_blank'>#{image_tag('contacts/linkedin.png')}</a> <a href='http://www.twitter.com/ritvvijparrikh' target='_blank'>#{image_tag('contacts/twitter.png')}</a><br/><br/><div class='content'>Before starting Pykih, Ritvvij worked for many years at Amdocs Inc, designing data-driven, enterprise decision making systems for AT&T from US, Israel and India.</div></div>".html_safe, class: "image-data"}
              = image_tag "people/ritvvij.png", class: "img-rounded img-responsive"
              %p.red.m0p0 Ritvvij Parrikh
              .f11.gray Managing Partner
              %br
          %li.col-sm-4.m0p0
            %a{href: "", data: "<div class='well'><h4 style='font-weight: 200; margin-bottom: 0px;'> Maneesh Konkar </h4>DIRECTOR - BUSINESS DEVELOPMENT<br/><a href='mailto:maneesh.konkar@pykih.com' target='_blank'>#{image_tag('contacts/mail.png')}</a> <a href='http://in.linkedin.com/pub/maneesh-konkar/a/80/2b2' target='_blank'>#{image_tag('contacts/linkedin.png')}</a> <br/><br/><div class='content'>An IIM-B graduate, Maneesh has 17 years of experience as sales strategy consultant for companies like Mahindra, Godrej, Cargil, Asian Paints and Naukri among others.</div></div>".html_safe, class: "image-data"}
              = image_tag "people/maneesh.png", class: "img-rounded img-responsive"
              %p.red.m0p0 Maneesh Konkar
              .f11.gray Director Business Dev.
              .f11.gray - FMCG Domain
              %br
          %li.col-sm-4.m0p0
            %a{href: "", data: "<div class='well'><h4 style='font-weight: 200; margin-bottom: 0px;'> Sruti Sabbah </h4>PARTNER<br/><br/><div class='content'>Sruti is a MBA-Finance, MS-Finance (US) and CFA. She is a partner in the company and is responsible for sales in the US. She also brings deep financial and statistical domain knowledge to the team along with knowledge of tools like R, MATLAB and Minitab.</div></div>".html_safe, class: "image-data"}
              = image_tag "people/sruti.png", class: "img-rounded img-responsive"
              %p.red.m0p0 Sruti Sabbah
              .f11.gray Director Business Dev.
              .f11.gray - Finance Domain
              %br
            %br
          %li.col-sm-4.m0p0
            %a{href: "", data: "<div class='well'><h4 style='font-weight: 200; margin-bottom: 0px;'> Bipin Mundhwa </h4>ECONOMETRICS, MEDIA ANALYTICS EXPERT<br/><a href='http://in.linkedin.com/pub/bipin-mundhwa/42/177/ab' target='_blank'>#{image_tag('contacts/linkedin.png')}</a> <br/><br/><div class='content'>Bipin has a M.Sc. in Marketing Analytics (UK) and is a trained Econometrician. He has authored the book - The Marketing Mess. Previously he has worked at MRUC, Times Group, India Today and Group M.</div></div>".html_safe, class: "image-data"}
              = image_tag "people/bipin.png", class: "img-rounded img-responsive"
              %p.red.m0p0 Bipin Mundhwa
              .f11.gray Media Analytics Advisor
              %br
          %li.col-sm-4.m0p0
            %a{href: "", data: "<div class='well'><h4 style='font-weight: 200; margin-bottom: 0px;'> Prateek Saxena </h4>FRONTEND ENGINEER<br/><a href='http://prtksxna.com/work/' target='_blank'>Portfolio</a> &nbsp;&nbsp; <a href='http://www.twitter.com/prtksxna' target='_blank'>#{image_tag('contacts/twitter.png')}</a><br/><br/><div class=''>Prateek's profile is a hybrid of design and development. He likes building games and web applications and is a student of music production and film editing. At Pykih, he handles UI/UX work in HTML5 and Javascript.</div></div>".html_safe, class: "image-data"}
              = image_tag "people/prateek.png", class: "img-rounded img-responsive"
              %p.red.m0p0 Prateek Saxena
              .f11.gray Frontend Engineer
              %br
              %br
          %li.col-sm-4.m0p0
            %a{href: "", data: "<div class='well'><h4 style='font-weight: 200; margin-bottom: 0px;'> Ronak Bhandari </h4>ANALYTICS ENGINEER<br/><br/><br/><div class='content'>__</div></div>".html_safe, class: "image-data"}
              = image_tag "people/ronak.png", class: "img-rounded img-responsive"
              %p.red.m0p0 Ronak Bhandari
              .f11.gray Analytics Engineer
              %br
              %br
          %li.col-sm-4.m0p0
            %a{href: "", data: "<div class='well'><h4 style='font-weight: 200; margin-bottom: 0px;'> Afzal Lakdawala </h4>WEB ENGINEER<br/><br/><br/><div class='content'>__</div></div>".html_safe, class: "image-data"}
              = image_tag "people/afzal.png", class: "img-rounded img-responsive"
              %p.red.m0p0 Afzal Lakdawala
              .f11.gray Web Engineer
          %li.col-sm-4.m0p0
            %a{href: "", data: "<div class='well'><h4 style='font-weight: 200; margin-bottom: 0px;'> Arun Kumar </h4>WEB ENGINEER<br/> <br/><br/><div class='content'>__</div></div>".html_safe, class: "image-data"}
              = image_tag "people/arun.png", class: "img-rounded img-responsive"
              %p.red.m0p0 Arun Kumar
              .f11.gray Web Engineer
      %div{:style => "position: relative; float: right; width: 40%; "}
        %br
        %br
        #image-data-help
          %small.gray click on a photo to read bio
        #image-data
    .ruler{id: "recognition"}
    %div{style: "height: 240px;"}
      %div{:style => "position: relative; float: left; width: 60%; "}
        %h3 Recognition
        %br
        %ul.m0p0.list-unstyled
          %li.col-sm-4.m0p0
            %a{href: "", data: "<div class='well'><div class='content'>The Government of India runs an annual program called Economic Times Power of Ideas Award to identify talented entrepreneurs in the country. Out of 14,000 applications, 75 were selected after multiple rounds of interviews and sent to Indian Institute of Management - Ahmedabad for education. Our founder Ritvvij was among the 75 in 2012.</div></div>".html_safe, class: "image-data2"}
              %div{style: "height: 70px;"}= image_tag "awards/poi.png", size: "150x60", class: "img-responsive"
              %p Finalist 2012
          %li.col-sm-4.m0p0
            %a{href: "", data: "<div class='well'><div class='content'>UnLtd India is a Mumbai based launchpad that invests in early-stage social entrepreneurs and incubates them. They invested in Pykih's TracksGiving project.</div></div>".html_safe, class: "image-data2"}
              %div{style: "height: 70px;"}= image_tag "awards/ui.png", size: "60x60", class: "img-responsive"
              %p Investee 2011
          %li.col-sm-4.m0p0
            %a{href: "", data: "<div class='well'><div class='content'>Even while an idea, TracksGiving came in the semifinals of the Echoing Green competition 2012 i.e. top 350 social entrepreneurship ideas out of 3500 world-wide.</div></div>".html_safe, class: "image-data2"}
              %div{style: "height: 70px;"}= image_tag "awards/eg.png", size: "70x70", class: "img-responsive"
              %p Semifinalist 2012
          %br
          %br
          %br
          %br
          %br
          %br
        %ul.m0p0.list-unstyled
          %li.col-sm-4.m0p0
            %a{href: "", data: "<div class='well'><div class='content'>ThoughtWorks University, the training arm of ThoughtsWorks, built open source software for TracksGiving.</div></div>".html_safe, class: "image-data2"}
              %div{style: "height: 40px;"}= image_tag "awards/tw.png", size: "150x40", class: "img-responsive"
              %p Open-source code Grant
          %li.col-sm-4.m0p0
            %div.img-responsive{style: "padding-top: 10px;"}= link_to image_tag("awards/ht.gif", size: "150x20"), "http://www.hindustantimes.com/India-news/Mumbai/Betting-on-causes/Article1-945868.aspx", target: "_blank"
      %div{:style => "position: relative; float: right; width: 40%; "}
        %br
        %br
        #image-data-help2
          %small.gray click on logo to read about the recognition
        #image-data2
    %br
    %br
    .ruler{id: "name"}
    %h3 Why the name PYKIH?
    %br
    %div{style: "height: 220px; "}
      %div{:style => "position: relative; float: left; width: 60%;"}
        %p
          When we started, we had something to sell, we had someone who wanted to buy it but we dint have a company. It was a hot September weekend. After ridiculously googling for words in Hindi, Gujarati and Sanksrit and looking for domain name availability, we finally gave up and simply used FIVE random characters that came up in a CAPTCHA (human-verification) as the company name.
          %br
          %br
          Philosophically that day we decided, we will build our brand on quality and innovation instead of some fancy seo-optimized, numerology-certified, meaningful name.
          %br
          %br
          Idea Credit: 
          = link_to "Mihir Modi", "http://pykih.blogspot.in/2007/10/pykih.html", target: "_blank"
      .img-responsive{:style => "position: relative; float: right; width: 30%; margin-left: 10%;"}= image_tag "Clipboard01.jpg", class: "img-responsive"
    %br

    .ruler{id: "mumbai"}
    %br
    .img-responsive= image_tag "made_with_love_in_mumbai.png"
    %br
    %br