= title("hacker culture - pykih")
.row
  .col-sm-12
    .page-header 
      %h1.m0p0 Hacker Culture: Why work for us?
    %br
.row
  .col-sm-2
    %div{id: "wallhanger", "data-spy"=>"affix", "data-offset-top"=>"0", style: "widht: 100%;"}
      %small
        %ul.nav.nav-tabs.nav-stacked
          %li= link_to "Culture Doc v1.0", "/hacker-culture#culture-doc"
          %li= link_to "Open source", "/hacker-culture#open-source"
          %li= link_to "Social work", "/hacker-culture#social-work"
          %li= link_to "Perks", "/hacker-culture#perks"          
          %li= link_to "Not so nice things", "/hacker-culture#not-so-nice-things"
          %li= link_to "Our Gear", "/hacker-culture#gear"
          %li= link_to "Openings", "/hacker-culture#openings"
  .col-sm-10{id: "who"}
    %div{style: "height: 270px; "}
      %div{:style => "position: relative; float: left; width: 50%; "}
        %p.lead 
          We believe that when you get a bunch of "i-am-best-at-what-i-do" domain experts in one room working on one problem at one time, magical things happen.
          %br
          %br
          We believe in being a high profit-to-employee-count ratio company that takes less work but gives it's best in terms of quality, completeness and innovativeness. 
      %div{:style => "position: relative; float: left; width: 10%; "} 
        %br
      %div{:style => "position: relative; float: right; width: 40%;"}= image_tag "team_brainstorm.jpg" , class: "img-responsive" 
    %br
    %br
    .ruler{id: "culture"}
    %h3 pykih culture doc version 1.0
    %br
    %p.lead This is what we believe in {period} but then later we might come back with a version 2.0 that contradicts with version 1.0 because...
    = image_tag "culture.png"
    %br
    %br
    .ruler{id: "open-source"}
    %h3 Open Source
    %br
    %p.lead Our USP and capability is much deeper than just technology. The team has many years of expertise in various domains. We want to increasingly make many, if not most, parts of our technology stack open source. We are still not there but we are on our way. Currently, we have only two open source projects. Expect more projects soon. Check out our #{link_to "GitHub", "http://github.com/pykih", target: "_blank"} page for more details. 
    %p 
      1. #{link_to "Pykih Reader", "https://github.com/pykih/reader", target: "_blank"}: An open-source Google Reader alternative 
      %br
      2. 
      = link_to "Ruby Wrapper over Google APIs", "https://github.com/pykih/g_ruby", target: "_blank"
      %br
      3. Another experiment that we worked on but later decided not to open source the code is
      = link_to "Cerebro - People Intelligence", "/cerebro"
    %br  
    %br
    .ruler{id: "social-work"}
    %h3 Social work: TracksGiving
    %br
    %p.lead 
      = link_to "TracksGiving", "http://www.tracksgiving.com", target: "_blank"
      is a cause marketing platform to allow corporates to leverage the power of charity to achieve MarComm objectives by adding tiny donations as incentives to products, payroll or promotions to differentiate brand and improve engagement. 
    %br
    .ruler{id: "perks"}
    %h3 Perks
    %br
    %p.lead We have an extremely fun filled, chilled out, yet demanding work environment. As an employer, our objective is to provide you with anything and everything, that is within our reach and you need to become the best-in-class at what you are supposed to do. 
    %br
    %div{style: "height: 590px; "}
      .col-sm-4
        .well
          %h4.red Open source
          %p As a company, we are committed to open source. We want to increasingly make a lot of our work open source and freely available. Creating an opportunity for team members to explore open source on a regular basis is a priority.
      .col-sm-4
        .well
          %h4.red Professional Development
          %p Every one should have a major specialisation. For the same, we will provide you with the necessary books, software, hardware, conferences, training, mentors or anything else that moves us forward professionally.
      .col-sm-4
        .well
          %h4.red Free FOOD
          %p An army marches on its stomach and we want to ensure you eat good, healthy, home cooked food. Hence, we have a cooking help who comes in twice a day, cooks fresh, healthy lunch and dinner twice, along with tea. 
      .col-sm-4
        .well
          %h4.red We actively hunt impediments
          %p Are you doing any work that is not worth your time? E.g. Laundry, delivery, mobile recharge, grocery shopping, etc. Tell us and we will try our best to reduce these impediments for you so you can focus on what matters.
      .col-sm-4
        .well
          %h4.red A bed to sleep
          %p We work out of an apartment in a residential building. You are always welcome to crash at office. So be it a tiff with parents or a better half or want to work late, you have a peaceful crash pad. Always.
      .col-sm-4
        .well
          %h4.red Eat-what-you-hunt
          %p Your basics are taken care off! Want more? Take risks and intrapreneur. Hunt more to eat more. Write books, innovate models, come up with new ideas. (No! I-just-had-an-idea innovations please. Back it up with research.)
      .col-sm-4
        .well
          %h4.red Work hard. Party harder.
          %p Want to chill post office hours or on weekends? Our office is in one of Mumbai's nicest localities, 5 minutes walking from Juhu beach, Hare Krishna Temple, PVR Cinemas, Pubs, Coffee Shops, one of Mumbai's oldest ice cream parlour and Malls.
      .col-sm-4
        .well
          %h4.red Perks specific to you
          %p Our data engineer was processing a lot of data but his laptop could not handle the load. So we bought him a Mac Mini Server with 16GB RAM. We also try our best to accommodate cultural / religious preferences or needs.
    %br
    %br
    .ruler{id: "not-so-nice-things"}
    %h3 Not so nice things, for some
    %br
    %p.lead If you are not a disciplined geek at heart, you will find it tough to survive.
    %br
    %div{style: "height: 250px; "}
      .col-sm-4
        .well You start working really hard. We are consumed by our work and pretty much are always thinking about it.
        .well We believe bonds are evil. Yet we have a "recommended" employment lock-in period of 2.5 years. You can quit any time after notice period. We believe in 2.5 years, you should be able to grow you enough, so that you stay for another 2.5 years.
      .col-sm-4
        .well You will have two families to think about. We eat together, party together, chill together, attend music festivals together or run marathons together.
        .well You will find a new love - entrepreneurship. It will make everything else less extra-ordinary. We give you a lot of responsibilities. It can be very demanding.
      .col-sm-4
        .well We expect you to master ONE thing for starters. We do not like generalists. We need people who can say I-am-the-best-at-what-I-do.
        .well Take initiative, be responsible and take ownership of what you do. No spoon feeding and no 9-to-6.
        .well You do not take random leaves every month. We simply do not like the "I m not well every fortnight" variety.
    %br
    %br
    .ruler{id: "gear"}
    %h3 Our Gear
    %br
    %div{style: "height: 330px;"}
      %p.table-responsive
        %table.table.table-condensed.table-striped.table-hover
          %tr
            %td.col-sm-3 Platform
            %td :
            %td Mac or Ubuntu
          %tr
            %td.col-sm-3 Base Languages
            %td :
            %td HTML5, CSS3, Ruby on Rails, jQuery
          %tr
            %td.col-sm-3 Data Visualization
            %td :
            %td 
              HighCharts and 
              = link_to "D3.js", "http://d3js.org/", target: "_blank"
          %tr
            %td.col-sm-3 Database
            %td :
            %td Primarily PostGreSQL
          %tr
            %td.col-sm-3 Web Scrapping
            %td :
            %td Python
          %tr
            %td.col-sm-3 Code Respositories
            %td :
            %td 
              Open source code sits on 
              = link_to "GitHub", "https://github.com/pykih/", target: "_blank"
              and closed source on BitBucket
          %tr
            %td.col-sm-3 Web Server
            %td :
            %td= link_to "Heroku PAAS", "https://www.heroku.com/", target: "_blank"
          %tr
            %td.col-sm-3 File Server
            %td :
            %td 
              = link_to "Amazon S3", "http://aws.amazon.com/s3/", target: "_blank"
              or
              = link_to "RackSpace CloudFiles", "http://www.rackspace.com/cloud/files/", target: "_blank"
          %tr
            %td.col-sm-3 Project Management
            %td :
            %td= link_to "Pivotal Tracker", "http://www.pivotaltracker.com/", target: "_blank"
          %tr
            %td.col-sm-3 Ticket Management
            %td :
            %td= link_to "Freshdesk", "http://pykih.freshdesk.com", target: "_blank"
          %tr
            %td.col-sm-3 Chat
            %td :
            %td IRC
    %br
    %br
    .ruler{id: "openings"}
    %h3 Openings
    %br
    %div{style: "height: 180px;"}
      %h4.red Javascript Developers
      %p 
        %b Must haves: 
        We are looking for a geek who calls himself a Javascript developer. His fundamentals of JS should be extremely clear and should be able to pick up any new JS library or framework thrown at him e.g. Backbone, Node, Vertx, D3, etc. 
      %h4.red Ruby Developers
      %p 
        %b Must haves: 
        Are your fundamentals of Ruby extremely clear? Have you read Meta Programming in Ruby in-and-out? Do you know Rails, as a consequence of knowing Ruby and not vice-versa? 
      %br
      %h4.thin.green
        For the right person our doors are always open. To apply for jobs or internships, send your CV at 
        = mail_to "jobs@pykih.com"
        with an appropriate cover letter, any live work and finally any open source code you have written.
    %br
    %br
    %br
    %br
    %br
    %br