= title("testimonials - pykih")
.row
  .col-sm-12
    .page-header 
      %h1.m0p0 Do not take our word for it? Well, read our testimonials. 
    %br
    %br
.row
  .col-sm-12
    .well
      %p
        %i pykih is the perfect outsourcing firm. This is our third outsourced project, and while all have been successful, this project has been successful on a whole new level thanks to pykih.The project was delivered well before time, and the solution that was developed was better in all ways, thanks to pykih"s knowledge, technical ability and creativity. If pykih bids on your project and say they can do it, then you would be crazy to choose anybody else. Can not recommend more highly.
      %h5.text-right 
        Matthew Barney, Director, #{link_to 'Position Inc', 'http://positioninc.com.au/positioninc.html', target: "_blank"}, Australia
        = image_tag "https://s3-ap-southeast-1.amazonaws.com/tracksgivingstatic/flags/au.gif"
    %br
    .well
      %p
        %i AdoRoi provides high-end marketing tracking solutions to many large corporates in India. We help them make their marketing spends ROI driven. On top of our technology platform, we piloted pykih's enterprise dashboard technology for data visualisation and generating reports for our clients. Pykih has deep expertise in product management and enterprise design of dashboard technology.
      %h5.text-right 
        Mitesh Thakker, Founder and CEO, #{link_to 'AdoRoi Marketing Science Pvt. Ltd.', 'http://adoroi.com/', target: '_blank'}, India
        = image_tag "https://s3-ap-southeast-1.amazonaws.com/tracksgivingstatic/flags/in.gif"
    %br
    .well
      %p
        %i We use FormHub to run surveys in many African countries and needed a better way to visualise all the data from these surveys. With JARVIS:BI's FormHub dashboard, survey results can now be viewed in real time. This allows for immediate feedback about our programs from the field, which greatly increases the quality of the work we do.
      %h5.text-right 
        Heather Katcher, #{link_to "Helen Keller International", "http://www.hki.org/", target: "_blank"}, United States
        = image_tag "https://s3-ap-southeast-1.amazonaws.com/tracksgivingstatic/flags/us.gif"