= title("work - pykih")
.row
  .col-sm-12
    .page-header 
      %h1.m0p0 Work
    %br
.row
  .col-sm-4{style: "margin-bottom: 30px;"}
    %a{href: "/work/river"}
      %div{style: "border: 1px solid lightgray; padding: 10px; height: 230px;"}
        %h4 River Chart
        %br
        = image_tag "gallery/river.png"
  .col-sm-4{style: "margin-bottom: 30px;"}
    %a{href: "/work/united_states_zoomable_map"}
      %div{style: "border: 1px solid lightgray; padding: 10px; height: 230px;"}
        %h4 United States Zoomable Maps
        %br
        = image_tag "gallery/united_states_zoomable_map.png" 
  .col-sm-4{style: "margin-bottom: 30px;"}
    %a{href: "/work/heat_map_of_outlets"}
      %div{style: "border: 1px solid lightgray; padding: 10px; height: 230px;"}
        %h4 Multi-layered Heat Maps
        %br
        = image_tag "gallery/bill_board_analytics.png"
  .col-sm-4{style: "margin-bottom: 30px;"}
    %a{href: "/work/formhub"}
      %div{style: "border: 1px solid lightgray; padding: 10px; height: 230px;"}
        %h4 Dashboard for FormHub.org
        %br
        = image_tag "gallery/formhub.png"
  .col-sm-4{style: "margin-bottom: 30px;"}
    %a{href: "/work/google_analytics"}
      %div{style: "border: 1px solid lightgray; padding: 10px; height: 230px;"}
        %h4 Dashboard for Google Analytics
        %br
        = image_tag "gallery/ga.png"
  .col-sm-4{style: "margin-bottom: 30px;"}
    %a{href: "/work/lighthouseapp"}
      %div{style: "border: 1px solid lightgray; padding: 10px; height: 230px;"}
        %h4 Dashboard for LightHouseApp.com
        %br
        = image_tag "gallery/lha.png"
  - if 1==2
    .col-sm-4{style: "margin-bottom: 30px;"}
      %a{href: "/gallery/force-layout"}
        %div{style: "border: 1px solid lightgray; padding: 10px; height: 230px;"}
          %h4 Animated Bubble Charts
          %br
          = image_tag "gallery/forcelayout.png"
    .col-sm-4{style: "margin-bottom: 30px;"}
      %a{href: "/gallery/multi-dimensional-scatter-chart"}
        %div{style: "border: 1px solid lightgray; padding: 10px; height: 230px;"}
          %h4 Multi-Dimensional Scatter
          %br
          = image_tag "gallery/scatter.png"
    .col-sm-4{style: "margin-bottom: 30px;"}
      %a{href: "/gallery/india-heat-map"}
        %div{style: "border: 1px solid lightgray; padding: 10px; height: 230px;"}
          %h4 India Heat Map
          %br
          = image_tag "gallery/indiaheatmap.png"
    .col-sm-4{style: "margin-bottom: 30px;"}
      %a{href: "/gallery/calendar"}
        %div{style: "border: 1px solid lightgray; padding: 10px; height: 230px;"}
          %h4 Timeline
          %br
          = image_tag "gallery/daytime.png"
    .col-sm-4{style: "margin-bottom: 30px;"}
      %a{href: "/gallery/sunburst"}
        %div{style: "border: 1px solid lightgray; padding: 10px; height: 230px;"}
          %h4 Zoomable Circle for Hierarchical Data 
          %br
          = image_tag "gallery/sunburst.png"
    .col-sm-4{style: "margin-bottom: 30px;"}
      %a{href: "/gallery/sample-data-explorer"}
        %div{style: "border: 1px solid lightgray; padding: 10px; height: 230px;"}
          %h4 Sample JARVIS:BI Data Explorer
          %br
          = image_tag "gallery/crossfilter.png"
    - if 1 == 2
      .col-sm-4{style: "margin-bottom: 30px;"}
        %a{href: "/gallery/fmcg-sales-managers"}
          %div{style: "border: 1px solid lightgray; padding: 10px; height: 230px;"}
            %h4 Dashboard for FMCG Sales Managers
            %br
            = image_tag "gallery/fmcgsales.png"
      .col-sm-4{style: "margin-bottom: 30px;"}
        %a{href: "/gallery/responsive-bubble"}
          %div{style: "border: 1px solid lightgray; padding: 10px; height: 230px;"}
            %h4 Responsive Bubble Chart
            %br
            = image_tag "gallery/responsive_bubble.png"
  
.row
  .col-sm-12
    %br
    %br
    %br        